{% extends "exgen/base.html" %}

{% block title %}Exercise List{% endblock %}

{% block content %}
    {% if context.exercise_dependencies %}
        <ul>
            {% if context.show_answers %}
                {% include 'exgen/nested_answer_list.html' with nested_list=context.exercise_dependencies %}
            {% else %}
                {% include 'exgen/nested_list.html' with nested_list=context.exercise_dependencies %}
            {% endif %}
        </ul>
    {% else %}
        <p>No exercise with this id.</p>
    {% endif %}
{% endblock %}