{% extends "exgen/base.html" %}
{% load static %}
{% load filters %}
{% block head_append %}
<script>window.jquery || document.write("<script src=\"{% static 'exgen/admin_copies/js/jquery.min.js' %}\"><\/script>")</script>
<script src="{% static 'exgen/admin_copies/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}" ></script>
<script type="text/javascript" src="{% static 'exgen/admin_copies/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'exgen/admin_copies/js/SelectBox.js' %}"></script>
<script type="text/javascript" src="{% static 'exgen/admin_copies/js/SelectFilter2.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'exgen/admin_copies/css/widgets.css' %}">
{% endblock %}
{% block title %}Search{% endblock %}

{% block content %}
<form style="overflow-y:auto;" action="#results" method="GET">
    <div class="fieldWrapper">
        <label for="id_text" style="display: block;"><strong>{{ form.text.label }}:</strong></label>
        {{ form.text }}
    </div>
    <table>
        <tr>
            <td class="fieldWrapper">
                <label for="id_categories" style="display: block;"><strong>{{ form.categories.label }}:</strong></label>
                {{ form.categories }}
            </td>
        </tr>
        <tr>
            <td class="fieldWrapper">
                <label for="id_lecturers" style="display: block;"><strong>{{ form.lecturers.label }}:</strong></label>
                {{ form.lecturers }}
            </td>
        </tr>
    </table>
    <table cellpadding="10" border="1">
        <tr valign="top">
            <td class="fieldWrapper">
                <label for="id_category_connect" style="display: block;"><strong>{{ form.category_connect.label }}:</strong></label>
                {{ form.category_connect }}
            </td>
            <td class="fieldWrapper">
                <label for="id_only_root"><strong>{{ form.only_root.label }}</strong></label>
                {{ form.only_root }}
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Search">
</form>

<hr>

<a name="results"></a>

{% if form_select %}
<form action="{% url 'exgen:type_views' %}" method="GET">
    <table>
        <td>
             <label for="id_lecturers" style="display: block;"><strong>{{ form_select.exercise.label }}:</strong></label>
            {{ form_select.exercise}}
        </td>
    </table>
    <br>
    <input type="submit" value="Generate">
</form>

{% else %}
<!--Print blank space-->
{% for _ in 5|range %}
    <br>
{% endfor %}

{% endif %}

{% endblock %}