{% extends "exgen/base.html" %}

{% load static %}

{% block head_append %}
<link href="{% static 'exgen/css/button.css' %} " rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}Type Selector{% endblock %}

{% block content %}


<form style="margin-left: 20px;" action="{% url 'exgen:generator' %}" method="GET">
 <table> 
 {{ form.as_table}}
 </table>
 <br>
<div ontouchstart="">
  <div class="button">
    <a onclick="this.closest('form').submit(); return false" href="javascript:{}">Generate</a>
  </div>
</div>
</form>
<br>
{% endblock %}
